# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.8.0
discord.py==1.7.3
lxml==4.7.1
requests==2.26.0
cssselect==1.1.0
discord==1.7.3
requests-mock==1.9.3